$backgroundColor: #212322;
$panelBackgroundColor: #454a47;
$featureColor: #e1e7ee;
$mainTextColor: $featureColor;
$invertTextColor: $backgroundColor;
$mainColorDark: #de432b;
$mainColor: #e04f39;
$mainColorBright: #e3624f;
$secondaryColorDark: #c0a321;
$secondaryColor: #cfb023;
$secondaryColorBright: #dcbc2e;
$inputBackground: #c9c5ba;
$inputPlaceholderColor: #89816c;
$shadowColor: rgba(0, 0, 0, 0.5);

$panelShadow: 5px 2px 10px 1px $shadowColor;
$inputShadow: 2px 1px 5px 1px $shadowColor;
$inputRadius: 10px;
$inputPadding: 8px 10px;
body {
	background-color: $backgroundColor;
	color: $mainTextColor;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 20px;
}

a {
	color: $mainColor;
	transition: color 0.25s ease-out;

	&:hover {
		color: $mainColorBright;
	}
}

button {
	background-color: $mainColor;
	border: none;
	padding: 10px;
	color: $mainTextColor;
	font-weight: 600;
	transition: background-color 0.25s ease-out;
	border-radius: $inputRadius;
	border: 1px solid transparent;

	&:focus {
		border: 1px solid $secondaryColorBright;
		outline: none;
	}
	&:hover {
		background-color: $mainColorBright;
		cursor: pointer;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.muted {
		background-color: $featureColor;
		color: $invertTextColor;

		&:focus {
			border-color: $mainColorDark;
		}
	}
}

input,
textarea {
	background-color: $inputBackground;
	color: $invertTextColor;
	padding: $inputPadding;
	border-radius: $inputRadius;
	outline: none;
	border: solid 2px transparent;
	box-shadow: $inputShadow;

	&::-webkit-input-placeholder {
		color: $inputPlaceholderColor;
	}

	&:focus {
		border-color: $secondaryColorDark;
	}
}

.configForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.buttonRow {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	gap: 5px;

	> * {
		flex-grow: 1;
	}
}

label {
	display: flex;
	flex-direction: column;
}

textarea {
	min-height: 200px;
}

/* Servers Editor */
.serversEditor {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
	.serverEditor {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px 10px;
		padding: 20px;
		border-radius: $inputRadius;
		box-shadow: $panelShadow;
		background-color: $panelBackgroundColor;

		> *:first-child,
		> *:nth-child(2) {
			grid-column: 1 / -1;
		}

		.titleBar {
			display: grid;
			grid-template-columns: 1fr auto;
		}
	}
}
