@import "theme.scss";

body:has(#player) {
	margin: 0;
	padding: 0;
	display: grid;
}

#player {
	display: grid;
	grid-template-areas: "Users" "Playlist" "Controls";
	grid-template-rows: 40px 1fr 40px;
	height: 100dvh;
	width: 100dvw;

	#users {
		grid-area: Users;
	}

	#playerControls {
		grid-area: Controls;
	}

	#playlist {
		grid-area: Playlist;
	}
}

#playlist {
	display: grid;
	background-color: $panelBackgroundColor;

	.list {
		display: block;
		flex-direction: column;
		overflow-y: auto;
		min-height: 100%;
		user-select: none;

		.playlistItem {
			display: grid;
			grid-template-columns: 1fr auto;
			padding: 5px;
			background-color: $itemColor1;
			border-left: 0;
			transition:
				background-color 0.25s ease-out,
				border-left 0.25s ease-out;
			cursor: pointer;

			&:hover {
				background-color: $itemColor1Hover;
			}

			&:nth-child(2n) {
				background-color: $itemColor2;
				&:hover {
					background-color: $itemColor2Hover;
				}
			}

			.info {
				display: flex;
				align-items: center;
				text-align: right;
			}

			&.selected {
				border-left: 8px solid $featureColor;
			}
		}
	}
}
