@import "theme.scss";

#main {
	display: grid;
	grid-template-areas: "Nav" "Content";
	grid-template-rows: auto 1fr;
	height: 100dvh;
	width: 100dvw;

	> nav {
		grid-area: Nav;
		display: flex;
		justify-content: space-evenly;
		background-color: $panelBackgroundColor;

		a {
			display: flex;
			flex-direction: column;
			padding: 5px;
			transition:
				0.25s ease-out background-color,
				0.25s ease-out border,
				0.25s ease-out color;
			text-decoration: none;
			border-bottom: 5px solid transparent;
			color: $mainTextColor;

			&[aria-current="page"] {
				color: $mainColor;
				border-bottom: 5px solid $secondaryColor;
			}

			&:hover {
				background-color: $mainColorBright;
				color: $backgroundColor;
			}
		}
	}

	> #content {
		grid-area: Content;
	}
}
