@import "theme.scss";

#player {
	display: grid;
	grid-template-areas: "Users" "Playlist" "Controls";
	grid-template-rows: 40px 1fr 40px;
	height: 100dvh;
	width: 100dvw;

	#playerControls {
		grid-area: Controls;
	}
}

#users {
	grid-area: Users;
	display: flex;
	overflow-x: auto;
	align-items: center;
	gap: 10px;
	padding: 0 10px;

	.user {
		background-color: $featureColor;
		border-radius: 10px;
		display: grid;
		grid-template-columns: auto 1fr;
		overflow: hidden;
		color: $invertTextColor;

		> *,
		&::before {
			padding: 5px 10px;
			display: flex;
			align-items: center;
		}

		&::before {
			content: "";
			display: block;
			background-color: $unreadyColor;
			color: $mainTextColor;
			width: 10px;
		}

		&.ready::before {
			background-color: $readyColor;
		}

		&.me {
			border: 2px solid $mainColor;
		}
	}
}

#playlist {
	display: grid;
	grid-area: Playlist;
	background-color: $panelBackgroundColor;

	.list {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		min-height: 100%;
		user-select: none;

		.playlistItem {
			display: grid;
			grid-template-columns: 1fr auto;
			padding: 5px;
			background-color: $itemColor1;
			border-left: 0;
			transition:
				background-color 0.25s ease-out,
				border-left 0.25s ease-out;
			cursor: pointer;

			&.placeholder {
				opacity: 0.5;
			}
			&:hover {
				background-color: $itemColor1Hover;
			}

			&:nth-of-type(even) {
				background-color: $itemColor2;
				&:hover {
					background-color: $itemColor2Hover;
				}
			}

			.info {
				display: flex;
				align-items: center;
				text-align: right;
			}

			&.selected {
				border-left: 8px solid $featureColor;
			}
		}

		.dropMarker {
			border-top: 2px solid $featureColor;
		}
	}
}
